In [1]:
a=0
a=a+1
a=a+2
a=a+3
a=a+4
a=a+5
a

15

In [2]:
a=0
a+=1
a+=2
a+=3
a+=4
a+=5
a

15

In [6]:
a=0
for x in [1,2,3,4,5]:
    a=a+x
a

15

リストの各要素をxという(仮の)名前を付けて取り出す

In [21]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]
for val in (list_tohoku):
    print(val)

5349
5478
5344
4644
4968
6259

In [16]:
5349+ 5478+ 5344+ 4644+ 4968+ 6259

32042

In [18]:
s=0
for x in [5349, 5478, 5344, 4644, 4968, 6259]:
    s=s+x
s

32042

In [19]:
s/6

5340.333333333333

In [25]:
a=['Apple':100.'Orange':150.'6pere':200]

SyntaxError: invalid syntax (<ipython-input-25-f6594ed38bfa>, line 1)

In [27]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}
for key in dict_tohoku:
    print(key)

aomori
akita
sendai
Yamagata
fukushima
morioka

In [28]:
for key in dict_tohoku:
    print(dict_tohoku[key])

5349
4644
5344
4968
6259
5478

In [29]:
a=[1,2,3,4,5]

In [34]:
s=0
for x in a:
    s+=x
    
avg=s/len(a)

s=0
for x in(a):
    s+=(x-avg)**2
    
v=s/len(a)
v**0.5

1.4142135623730951